<.header>
  Edit Glb model <%= @glb_model.id %>
  <:subtitle>Use this form to manage glb_model records in your database.</:subtitle>
</.header>

<.glb_model_form changeset={@changeset} action={~p"/glbs/#{@glb_model}"} />

<.back navigate={~p"/glbs"}>Back to glbs</.back>
