<.header>
  New Place
  <:subtitle>Use this form to manage place records in your database.</:subtitle>
</.header>

<.place_form changeset={@changeset} action={~p"/places"} />

<.back navigate={~p"/places"}>Back to places</.back>
