<.header>
  New Impulse response
  <:subtitle>Add a new impulse response</:subtitle>
</.header>

<.impulse_response_form changeset={@changeset} action={~p"/impulse_responses"} />


<.back navigate={~p"/impulse_responses"}>Back to impulse_responses</.back>
