<.header>
  Instrument <%= @instrument.id %>
  <:subtitle>This is a instrument record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/instruments/#{@instrument}/edit"}>
      <.button>Edit instrument</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @instrument.name %></:item>
</.list>

<.back navigate={~p"/instruments"}>Back to instruments</.back>
